version: '1.0'

services:
  postgres:
    image: postgres:15-alpine
    ports:
      - 5432:5432
    volumes:
      - ./volumes/postgres:/var/lib/postgresql/data
    env_file:
      - .env.local

  graphql-engine:
    image: hasura/graphql-engine:v2.37.0
    restart: always
    ports:
      - 8080:8080
    env_file:
      - .env.local
    depends_on:
      - postgres
