@import url('./assets/fontawesome/css/all.min.css');
@import url('./assets/fontawesome/rtl.css');


@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 4px;
	height: 4px;
}

::-webkit-scrollbar-track {
	background-color: darkgrey;
}

::-webkit-scrollbar-thumb {
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

:root {
	--primary-color: #1942c9;
	--secondary-color: #000;
}

body, * {
  font-family: "Rubik";
}